In [8]:
k="python is popular programming language"

In [9]:
k.replace("popular","best")

'python is best programming language'

In [13]:
l="nasaisbuildinghotelprojectinmars"

In [14]:
l

'nasaisbuildinghotelprojectinmars'

In [15]:
"".join(l)

'nasaisbuildinghotelprojectinmars'

In [16]:
" ".join(l)

'n a s a i s b u i l d i n g h o t e l p r o j e c t i n m a r s'

In [19]:
l1="nasais,building,hotel,project,in,mars"

In [20]:
l1

'nasais,building,hotel,project,in,mars'

In [21]:
"".join(l)

'nasais,building,hotel,project,in,mars'

In [22]:
" ".join(l)

'n a s a i s , b u i l d i n g , h o t e l , p r o j e c t , i n , m a r s'

In [24]:
".join(l)

SyntaxError: unterminated string literal (detected at line 1) (1944596530.py, line 1)

In [25]:
l2="'nasais','building','hotel','project','in','mars'"

##

In [26]:
l2

"'nasais','building','hotel','project','in','mars'"

In [27]:
"".join(l2)

"'nasais','building','hotel','project','in','mars'"

In [28]:
" ".join(l2)

"' n a s a i s ' , ' b u i l d i n g ' , ' h o t e l ' , ' p r o j e c t ' , ' i n ' , ' m a r s '"

In [30]:
city="nowshera"

In [31]:
city

'nowshera'

In [32]:
City

NameError: name 'City' is not defined

In [33]:
city="Nowshera"

In [35]:
city1="nowshera"

In [36]:
city=city1

In [18]:
city="Nowshera"
city1="nowshera"

if city == city1:

print("the two city is matching")

else:

print("the two city is nont matching")

IndentationError: expected an indented block after 'if' statement on line 4 (2693784026.py, line 6)

In [52]:
city="Nowshera"
city1="nowshera"

if city==city1:
print("the two city is matching")

else:

    print("the two city is nont matching")

IndentationError: expected an indented block after 'if' statement on line 4 (1459043416.py, line 5)

In [10]:
string1="Nowshera"
string2="gowshera"

if string1==string2:
print("the two city is matching")

else:

    print("the two city is nont matching")

IndentationError: expected an indented block after 'if' statement on line 4 (2461131514.py, line 5)

In [60]:
string1="Nowshera"
string2="gowshera"

if string1.casefold()==string2.casefold():
    print("the two city is matching")

else:

    print("the two city is nont matching")

the two city is nont matching

In [59]:
string1="alka"
string2="Alka"

if string1==string2:
    print("true")
else:
        print("false")

false

In [61]:
m="lenovo,mobile"

m.replace("mobile","")

In [64]:
m.replace("mobile","")

'lenovo,'

In [65]:
m

'lenovo,mobile'

In [2]:
m="lenovo,mobile"
m.replace("mobile","")

'lenovo,'

In [67]:
m="lenovo,mobile#"
m.replace("#","")

'lenovo,mobile'

In [1]:
name="bilal"
age=23
salary=68989.78
print("{} is {} years old taking salaray{}".format("name","age","salary") )

name is age years old taking salaraysalary

In [3]:
name="bilal"
age=23
salary=68989.78
print("{} is {} years old taking salaray {}".format("Bilal","23","68989.78") )

Bilal is 23 years old taking salaray 68989.78

In [4]:
print("hello bilal ")

hello bilal

In [3]:
m

'lenovo,mobile'

In [6]:
m.length("")

AttributeError: 'str' object has no attribute 'length'

# FUNCTIONS

In [9]:
def multiply_function():
a= int (input ("enter any number"))
b= int (input ("enter any number"))
c=a*b
print("a*b=",c)

IndentationError: expected an indented block after function definition on line 1 (4122106890.py, line 2)

In [13]:
def multiplyfunction():
a=10
b=20
c=a*b
print("c")

IndentationError: expected an indented block after function definition on line 1 (3429022674.py, line 2)

In [18]:
# function
def function():
    print("Am in function")

In [19]:
# calling function

function()

Am in function

In [21]:
def addfunction1():
    a=10
    b=20
    c=a+b
    print(c)

In [23]:
addfunction1()

30

In [29]:
def addfunction2():
    a=int(input("any number1"))
    b=int(input("any number2"))
    c=a+b
    print(c)

In [26]:
addfunction2()

any number25
45

In [28]:
addfunction2()

any number100
120

In [30]:
addfunction2()

any number127
any number229
56

In [36]:
def subfunction():
    a=float(input("any number1()"))
    b=int(input("any number2()"))
    c=a-b
    print(c)

In [32]:
subfunction()

any number1117
any number256
61

In [38]:
subfunction()

any number1()79
any number2()25
54.0

In [39]:
def multiply_function():
    a=float(input("any number1()"))
    b=int(input("any number2()"))
    c=a*b
    print(c)

In [40]:
multiply_function()

any number1()7
any number2()21
147.0

In [46]:
def squarefn():
    a=float(input("any number1()"))
    c=a*a
    print("square of given number=",round(c,2))

In [47]:
squarefn()

any number1()5.3
square of given number= 28.09

In [56]:
def table():
    i=int(input("any number for table to be generate="))
    for j in range(1,5):
        print(i,'*',j,'=',i*j)

In [57]:
table()

any number for table to be generate=2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [58]:
table()

any number for table to be generate=2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [ ]:
table()+

In [ ]:
def table():
    i=int(input("any number for table to be generate="))
    for j in range(1,5):
        print(i,'*',j,'=',i*j)

In [ ]:
table()

In [ ]:
table()

In [61]:
def table():
    i=int(input("any number for table to be generate="))
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

In [59]:
table()

any number for table to be generate=3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

In [62]:
table()

any number for table to be generate=21
21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

In [63]:
def table():
    i=float(input("any number for table to be generate="))
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

In [64]:
table()

any number for table to be generate=7.3
7.3 * 1 = 7.3
7.3 * 2 = 14.6
7.3 * 3 = 21.9
7.3 * 4 = 29.2
7.3 * 5 = 36.5
7.3 * 6 = 43.8
7.3 * 7 = 51.1
7.3 * 8 = 58.4
7.3 * 9 = 65.7
7.3 * 10 = 73.0

In [70]:
def area_of_rectangle():
    length=int(input("Enter length="))
    breadth=int(input("Enter breadth="))
    area=length*breadth
    print(area)
    print("Area of Rectangle=",area,'with length=',length,'with breadth=',breadth)

In [73]:
area_of_rectangle()

Enter length=25
Enter breadth=12
300
Area of Rectangle= 300 with length= 25 with breadth= 12

In [14]:
def area_circle():
    radius=float(input("Enter radius"))
    pi=3.14
    area=pi*(radius**2)
    print=("area of circle=",area)
    print=("area of circle=",area, round(area,2))

In [18]:
area_circle()

Enter radius3

In [19]:
def area_circle():
    radius=float(input("Enter radius"))
    pi=3.14
    area=  pi*(radius**2)
    print=("area of circle=",area)
    print=("area of circle=",area, round(area,2))

In [20]:
area_circle()

Enter radius2

In [21]:
def circle():
    radius=float(input("Enter radius"))
    Pi=3.14
    area=Pi*(radius**2)
    print("area of circle=",area)

In [22]:
circle()

Enter radius3
area of circle= 28.26

In [23]:
circle()

Enter radius23
area of circle= 1661.0600000000002

In [25]:
def circle():
    radius=float(input("Enter radius"))
    Pi=3.14
    area=Pi*(radius**2)
    print("area of circle=",area)
    print("area of circle=",area, round(area,2))

In [26]:
circle()

Enter radius24
area of circle= 1808.64
area of circle= 1808.64 1808.64